
<div class="mb-6 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#1f1f1f" width="80px" height="80px" class="mx-auto"><path d="M633-80 472-241l43-43 118 118 244-244 43 43L633-80ZM478-527l334-213H144l334 213Zm0 60L140-684v452h256l60 60H140q-24 0-42-18t-18-42v-508q0-24 18-42t42-18h677q24 0 42 18t18 42v244l-60 60v-248L478-467Zm1 9Zm-1-69Zm1 60Z"></path></svg>
    <p class="mt-1 sm:mt-2 text-xs sm:text-sm text-gray-600">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p class="mt-1 sm:mt-2 text-xs sm:text-sm text-gray-600">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>
<hr>
<div class="text-center mt-2">
    <button type="button" hx-get="{% url 'user-login' %}" class="text-sm text-primary hover:text-secondary">
        ← Back to sign in
    </button>
</div>

