{% extends 'user/auth/base.html' %}
{% load tailwind_filters %}
{% block form_content %}
<!-- Form -->
<div id="accountForm" hx-target="this" class="bg-white rounded-2xl shadow-xl p-4 sm:p-8 border border-gray-100">
    <div class="mb-6 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#1f1f1f" width="80px" height="80px" class="mx-auto">
            <path xmlns="http://www.w3.org/2000/svg" d="M120-160v-94q0-38 19-65t49-41q67-30 128.5-45T440-420q26 0 50.5 2.5T541-410q-5 58 21.5 109.5T640-220v60H120ZM760-13l-60-60v-186q-44-13-72-49.5T600-393q0-58 41-99t99-41q58 0 99 41t41 99q0 45-25.5 80T790-263l50 50-60 60 60 60-80 80ZM440-500q-63 0-106.5-43.5T290-650q0-63 43.5-106.5T440-800q63 0 106.5 43.5T590-650q0 63-43.5 106.5T440-500Zm300 127q17 0 28.5-11.5T780-413q0-17-11.5-28.5T740-453q-17 0-28.5 11.5T700-413q0 17 11.5 28.5T740-373Z"/>
            </path>
        </svg>
        <p class="text-sm sm:text-base text-gray-600">Your password has been set. You may go ahead and log in now.</p>
    </div>
    <hr>
    <div class="text-center mt-2">
        <button type="button" hx-get="{% url 'user-login' %}" hx-replace-url="{% url 'login-page' %}" class="text-sm text-primary hover:text-secondary">
            ← Back to sign in
        </button>
    </div>
</div>
{% endblock %}

