{% extends 'user/auth/base.html' %}
{% load tailwind_filters %}
{% block form_content %}
<!-- Form -->
<div id="accountForm" hx-target="this" class="bg-white rounded-2xl shadow-xl p-4 sm:p-8 border border-gray-100">
    <form method="post" class="space-y-4 sm:space-y-6">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <button type="submit" class="group relative w-full flex justify-center py-2.5 sm:py-3 px-4 border border-transparent text-xs sm:text-sm font-medium rounded-lg text-white bg-primary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary transition-all duration-200 transform hover:scale-105">
                <span class="absolute left-0 inset-y-0 flex items-center pl-2 sm:pl-3">
                    <svg class="h-4 w-4 sm:h-5 sm:w-5 text-blue-300 group-hover:text-blue-200" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
                    </svg>
                </span>
                Change my password
            </button>
        </div>
    </form>
</div>
{% endblock %}