{% extends "partials/base.html" %}
{% block title %}
Order Page
{% endblock %}
{% block content %}
<!--Topside-->
{% include 'partials/topnav.html' %}
<!--End Topside-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">No.</th>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Order by</th>
                            <th scopt="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th scope="row">{{ order.id }}</th>
                            <td>{{ order.asset.name }}</td>
                            <td>{{ order.asset.category }}</td>
                            <td>{{ order.order_quantity }}</td>
                            <td>{{ order.staff.username }}</td>
                            <td>{{ order.date_ordered }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}