{% extends "partials/base.html" %}
{% block title %}
    Staff Page
{% endblock %}
{% block content %}
<!--Topside-->
{% include 'partials/topnav.html' %}
<!--End Topside-->
<!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <table class="table bg-white" hx-target="this" hx-swap="outerHTML">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Detail</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <th scope="row"><button class="btn btn-info btn-sm" hx-get="{% url 'dashboard-staff-detail' user.id %}">View</button></th>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.is_staff }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}